.header {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(238, 220, 203);
}
.row {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    width: 300px;
    border: 2px solid saddlebrown;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
   
}
button{
    background-color: blanchedalmond;
    padding:5px;
    font-weight: bold;
    box-shadow: none;
    border-radius: 5px;
    margin:5px;
}
.header h4{
    padding:10px;
}
.menu{
    display:flex;
}
.menu div{
    padding:10px;
}

.row button {
    background-color: saddlebrown;
    font-size: 20px;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;

}
